<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon *ngIf="isMD" slot="icon-only" name="close-outline"></ion-icon>
        <ion-label *ngIf="!isMD">{{ "EXPORT_ACCOUNT_MODAL.CANCEL" | translate }}</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ "EXPORT_ACCOUNT_MODAL.TITLE" | translate }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="onConfirm()" [disabled]="selectedAccountsCount<1">
        <ion-label>{{ "EXPORT_ACCOUNT_MODAL.EXPORT" | translate }}</ion-label>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-list-header>
    <ion-label>{{ "EXPORT_ACCOUNT_MODAL.LIST_HEADER" | translate:headerParams }}</ion-label>
    <ion-button (click)="onSelectAllClick()">{{ selectAllLabelKey | translate }}</ion-button>
  </ion-list-header>
  <ion-list [inset]="!isMD">
    <ion-item *ngFor="let item of selection; let i = index" button (click)="onItemClick(i)" detail="false">
      <ion-thumbnail class="thumb" slot="start">
        <img class="thumb-img" [src]="item.account.getLogo()" />
      </ion-thumbnail>
      <ion-checkbox labelPlacement="start" [checked]="item.selected">
        {{item.account.label}}
      </ion-checkbox>
    </ion-item>
  </ion-list>
</ion-content>
