<div id="code-container-component" class="ion-justify-content-center ion-align-items-center">
  <ng-container *ngIf="account;else selectAccountContainer">
    
      <ion-row>
        <ion-col size="12">
          <img src="{{account.getLogo()}}" alt="code" class="service-logo">
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12">
          {{account.label}}
        </ion-col>
      </ion-row>
      <ion-row class="center-vertical">
        <ion-col size="auto" class="center-vertical">
          <ion-button class="large-text" size="large" fill="clear" (click)="copyCode($event)">
            <ion-text class="code-color"><strong>{{token}}</strong></ion-text>
            <ion-icon slot="end" name="copy-outline"></ion-icon>
          </ion-button>
        </ion-col>
        
      </ion-row>
      <ion-row>
        <ion-col size="12">
         <app-countdown-timer #countdownTimer [seconds]="tokenCountdown" (timerEnd)="timerEnd()"></app-countdown-timer>
        </ion-col>
      </ion-row>
  </ng-container>
  <ng-template #selectAccountContainer>
    <p>Selecione uma conta para iniciar...</p>
  </ng-template>
</div>