<ion-content >
  <div class="login-bg">
    <div class="login-card-container"> 
      <ion-card class="ion-text-center login-card">
        <ion-card-header color="primary" class="ion-padding">
          <img class="logo ion-align-self-center" src="../../assets/pwaicons/ios/192.png" />
        </ion-card-header>
        <ion-card-content color="primary" class="ion-padding card-content-bg">
          <form [@openClose]="loginFormVisible" class="form" [class.form-expand]="loginFormVisible" [formGroup]="validations_form" (ngSubmit)="loginUser(validations_form.value)">
            <ion-item class="form-rounded-top">
              <ion-label class="ion-padding-start" position="stacked"> {{ "LOGIN.EMAIL" | translate }}</ion-label>
              <ion-input type="text" formControlName="email"></ion-input>
            </ion-item>
            <div class="validation-errors">
              <ng-container *ngFor="let validation of validation_messages.email">
                <div class="error-message"
                  *ngIf="validations_form.get('email')?.hasError(validation.type) && (validations_form.get('email')?.dirty || validations_form.get('email')?.touched)">
                  {{ validation.message | translate }}
                </div>
              </ng-container>
            </div>

            <ion-item class="form-rounded-bottom">
              <ion-label class="ion-padding-start" position="stacked">{{ "LOGIN.PASSWORD" | translate }}</ion-label>
              <ion-input type="password" formControlName="password" required></ion-input>
            </ion-item>
            <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.password">
                  <div class="error-message ion-padding"
                  *ngIf="validations_form.get('password')?.hasError(validation.type) && (validations_form.get('password')?.dirty || validations_form.get('password')?.touched)">
                  {{ validation.message | translate }}
                </div>
              </ng-container>
            </div>

            <ion-button color="primary" class="ion-margin-top ion-padding-top ion-padding-bottom" expand="block" type="submit"
              [disabled]="!validations_form.valid">{{ "LOGIN.SIGN_IN_BUTTON" | translate }}</ion-button>
          </form>
          <ion-button fill="outline" class="ion-padding-top ion-padding-bottom" expand="block" (click)="continueOffline()">{{ "LOGIN.CONTINUE_OFFLINE" | translate }}</ion-button>
          <ion-button *ngIf="!loginFormVisible" fill="outline" class="ion-padding-top ion-padding-bottom" expand="block" (click)="loginFormVisible = true">{{ "LOGIN.CLOUD_SYNC" | translate }}</ion-button>
        </ion-card-content>
      </ion-card>    
    </div>
  </div>
</ion-content>