<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="dismissModal()">
        <ion-icon *ngIf="isMD" slot="icon-only" name="close-outline"></ion-icon>
        <ion-label *ngIf="!isMD">{{ "ABOUT_MODAL.CLOSE" | translate }}</ion-label>
      </ion-button>
    </ion-buttons>
    <ion-title>{{ "ABOUT_MODAL.TITLE" | translate }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ "ABOUT_MODAL.VERSION_INFO_HEADER" | translate }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{ "ABOUT_MODAL.VERSION_INFO.VERSION" | translate }}:&emsp;{{ versionInfo.versionName }}</p>
      <p>{{ "ABOUT_MODAL.VERSION_INFO.BUILD_DATE" | translate }}:&emsp;{{ versionInfo.buildDate }}</p>
      <p>{{ "ABOUT_MODAL.VERSION_INFO.GIT_HASH" | translate }}:&emsp;{{ versionInfo.commitHash }}</p>
    </ion-card-content>
  </ion-card>
  
  <ng-container *ngIf="licenses.length > 0">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ "ABOUT_MODAL.LICENSES_HEADER" | translate }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-accordion-group>
          <ion-accordion *ngFor="let license of licenses">
            <ion-item slot="header" color="light">
              <ion-label> {{ license.title }}</ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <p class="line-break">{{ license.body }}</p>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </ion-card-content>
    </ion-card>
</ng-container>
</ion-content>
