// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-primary: #424362;
	--ion-color-primary-rgb: 66,67,98;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255,255,255;
	--ion-color-primary-shade: #3a3b56;
	--ion-color-primary-tint: #555672;
}