// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
	--ion-color-primary: #682f8d;
	--ion-color-primary-rgb: 104, 47, 141;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255, 255, 255;
	--ion-color-primary-shade: #5c297c;
	--ion-color-primary-tint: #774498;

	--ion-color-secondary: #cc0099;
	--ion-color-secondary-rgb: 204, 0, 153;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255, 255, 255;
	--ion-color-secondary-shade: #b40087;
	--ion-color-secondary-tint: #d11aa3;

	--ion-color-tertiary: #011892;
	--ion-color-tertiary-rgb: 1, 24, 146;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255, 255, 255;
	--ion-color-tertiary-shade: #011580;
	--ion-color-tertiary-tint: #1a2f9d;

	--ion-color-success: #009966;
	--ion-color-success-rgb: 0, 153, 102;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0, 0, 0;
	--ion-color-success-shade: #00875a;
	--ion-color-success-tint: #1aa375;

	--ion-color-warning: #cc9900;
	--ion-color-warning-rgb: 204, 153, 0;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0, 0, 0;
	--ion-color-warning-shade: #b48700;
	--ion-color-warning-tint: #d1a31a;

	--ion-color-danger: #cc3300;
	--ion-color-danger-rgb: 204, 51, 0;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255, 255, 255;
	--ion-color-danger-shade: #b42d00;
	--ion-color-danger-tint: #d1471a;

	--ion-color-light: #fbf6ff;
	--ion-color-light-rgb: 251, 246, 255;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0, 0, 0;
	--ion-color-light-shade: #ddd8e0;
	--ion-color-light-tint: #fbf7ff;

	--ion-color-medium: #7b737f;
	--ion-color-medium-rgb: 123, 115, 127;
	--ion-color-medium-contrast: #000000;
	--ion-color-medium-contrast-rgb: 0, 0, 0;
	--ion-color-medium-shade: #6c6570;
	--ion-color-medium-tint: #88818c;

	--ion-color-dark: #1d0c27;
	--ion-color-dark-rgb: 29, 12, 39;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255, 255, 255;
	--ion-color-dark-shade: #1a0b22;
	--ion-color-dark-tint: #34243d;
}

@media(prefers-color-scheme: dark) {
	:root {
		--ion-color-primary: #936daf;
		--ion-color-primary-rgb: 147, 109, 175;
		--ion-color-primary-contrast: #000000;
		--ion-color-primary-contrast-rgb: 0, 0, 0;
		--ion-color-primary-shade: #81609a;
		--ion-color-primary-tint: #9e7cb7;

		--ion-color-secondary: #dc97cb;
		--ion-color-secondary-rgb: 220, 151, 203;
		--ion-color-secondary-contrast: #000000;
		--ion-color-secondary-contrast-rgb: 0, 0, 0;
		--ion-color-secondary-shade: #c285b3;
		--ion-color-secondary-tint: #e0a1d0;

		--ion-color-tertiary: #7281cd;
		--ion-color-tertiary-rgb: 114, 129, 205;
		--ion-color-tertiary-contrast: #000000;
		--ion-color-tertiary-contrast-rgb: 0, 0, 0;
		--ion-color-tertiary-shade: #6472b4;
		--ion-color-tertiary-tint: #808ed2;

		--ion-color-success: #549982;
		--ion-color-success-rgb: 84, 153, 130;
		--ion-color-success-contrast: #000000;
		--ion-color-success-contrast-rgb: 0, 0, 0;
		--ion-color-success-shade: #4a8772;
		--ion-color-success-tint: #65a38f;

		--ion-color-warning: #ccb87f;
		--ion-color-warning-rgb: 204, 184, 127;
		--ion-color-warning-contrast: #000000;
		--ion-color-warning-contrast-rgb: 0, 0, 0;
		--ion-color-warning-shade: #b4a270;
		--ion-color-warning-tint: #d1bf8c;

		--ion-color-danger: #cc5d39;
		--ion-color-danger-rgb: 204, 93, 57;
		--ion-color-danger-contrast: #000000;
		--ion-color-danger-contrast-rgb: 0, 0, 0;
		--ion-color-danger-shade: #b45232;
		--ion-color-danger-tint: #d16d4d;

		--ion-color-light: #1d0c27;
		--ion-color-light-rgb: 29, 12, 39;
		--ion-color-light-contrast: #ffffff;
		--ion-color-light-contrast-rgb: 255, 255, 255;
		--ion-color-light-shade: #1a0b22;
		--ion-color-light-tint: #34243d;

		--ion-color-medium: #83768a;
		--ion-color-medium-rgb: 131, 118, 138;
		--ion-color-medium-contrast: #000000;
		--ion-color-medium-contrast-rgb: 0, 0, 0;
		--ion-color-medium-shade: #736879;
		--ion-color-medium-tint: #8f8496;

		--ion-color-dark: #f6efff;
		--ion-color-dark-rgb: 246, 239, 255;
		--ion-color-dark-contrast: #000000;
		--ion-color-dark-contrast-rgb: 0, 0, 0;
		--ion-color-dark-shade: #d8d2e0;
		--ion-color-dark-tint: #f7f1ff;
	}
}