#code-container-component {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.service-logo {
    object-fit: scale-down;
    max-height: 120px;
}

.large-text {
    font-size: x-large;
}

.code-color {
    color: var(--ion-text-color, var(--ion-color-primary), #555);
}