<div class="account-list-container">
  <ion-grid *ngIf="isGridType; else listView">
    <ion-row>
      <ion-col *ngFor="let account of accounts" size-xs="4" size-sm="3" size-md="2">
        <ion-card (click)="selectAccount(account)" class="ion-no-padding ion-no-margin square fill-parent ion-activatable ripple-parent">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-card-content class="ion-no-padding">
            <ion-thumbnail class="thumb ion-no-padding ion-padding-top">
              <img class="thumb-img" [src]="account.getLogo()">
            </ion-thumbnail>
            <p class="small-text ion-text-center ion-padding-top">{{account.label}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ng-template #listView>
    <ion-list>
      <ion-item button *ngFor="let account of accounts" (click)="selectAccount(account)">
        <ion-thumbnail slot="start">
          <img class="thumb-img" [src]="account.getLogo()">
        </ion-thumbnail>
        <ion-label>
          <h2>{{account.label}}</h2>
        </ion-label>
      </ion-item>
    </ion-list>
  </ng-template>
</div>