.thumb-img {
    object-fit: scale-down;
}

.fill-parent {
    width: 100%;
    height: 100%;
}

.small-text {
    font-size: 0.87em;
}

.square-ratio {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
}