.full-row {
  width: 100%;
}

.selected-logo {
  border: 3px solid var(--ion-color-danger);
}

.logo-card {
  aspect-ratio: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
