<ion-header>
  <ion-toolbar>
    <ion-searchbar [debounce]="800" (ionInput)="handleSearch($event)"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button (click)="showPopover($event)">
        <ion-icon slot="icon-only" name="settings-outline"></ion-icon>
      </ion-button>
      <ion-popover #popover [isOpen]="isPopoverOpen" triggerAction="click">
        <ng-template>
          <ion-content>
            <ion-list class="ion-no-padding">
              <ion-item button detail="false" (click)="addAccountAction()">
                <ion-icon slot="start" name="add-outline"></ion-icon>
                <ion-label>Adicionar Conta</ion-label> 
              </ion-item>
              <ion-item button detail="false" (click)="logout()">
                <ion-icon slot="start" name="log-out-outline"></ion-icon>
                <ion-label>Logout</ion-label> 
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <div id="code-container" class="ion-justify-content-center ion-align-items-center">
      <ng-container *ngIf="selectedAccount;else selectAccountContainer">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <img src="{{selectedAccount.getLogo()}}" alt="code" class="service-logo">
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p>{{selectedAccount.serviceName}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p>{{selectedAccount.accountName}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="auto">
              <p>{{selectedAccountCode}}</p>
            </ion-col>
            <ion-col size="auto">
              <ion-button (click)="copyCode($event)">
                <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
              </ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p>Token expires in: {{timer}}s</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ng-container>
      <ng-template #selectAccountContainer>
        <p>Selecione uma conta para iniciar...</p>
      </ng-template>
    </div>

    <div id="accounts-container">
      <ion-grid>
        <ion-row>
          <ion-col *ngFor="let account of accounts$ | async | accountFilter: searchTxt" class="square-ratio" size-xs="6" size-sm="4" size-md="4" size-lg="3" size-xl="2">
            <ion-card (click)="selectAccount(account)" class="fill-parent">
              <ion-card-header>
                <ion-card-title>{{account.serviceName}}</ion-card-title>
              </ion-card-header>
              <ion-card-content>
                <p class="small-text">{{account.accountName}}</p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <ion-modal [isOpen]="isAddAccountModalOpen" (willDismiss)="onWillDismissModal($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Adicionar conta</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="closeAddAccountModal()"><ion-icon slot="icon-only" name="close-outline"></ion-icon></ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ngx-scanner-qrcode *ngIf="isScanActive;else nonScan" #qrscanner="scanner" (event)="onQRCodeScanned($event, qrscanner)" [config]="qrScannerOpts"></ngx-scanner-qrcode>
        <ng-template #nonScan>
          <ng-container *ngIf="!manualInput;else manualForm">
            <ion-button expand="block" (click)="scanCode()">
              <ion-icon slot="start" name="qr-code-outline"></ion-icon>
              Escanear QR Code
            </ion-button>
            <div class="ion-padding-top"></div>
            <ion-button expand="block" fill="outline" (click)="manualInput=true">
              <ion-icon slot="start" name="create-outline"></ion-icon>
              Input Manual
            </ion-button>
          </ng-container>
          
          <ng-template #manualForm>
            <form [formGroup]="validations_form" (ngSubmit)="createAccount(validations_form.value)">
              <ion-item>
                <ion-input label="Nome do serviço" labelPlacement="stacked" formControlName="serviceName" placeholder="ex.: Google"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Nome da conta" labelPlacement="stacked" formControlName="accountName" placeholder="ex.: teste@gmail.com"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Chave-segredo" labelPlacement="stacked" formControlName="secret" placeholder="ex.: QAPERTPEO123"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Tamanho do token" labelPlacement="stacked" formControlName="tokenLength" placeholder="ex.: 6"></ion-input>
              </ion-item>
              <ion-item>
                <ion-input label="Intervalo de token (s)" labelPlacement="stacked" formControlName="interval" placeholder="ex.: 30"></ion-input>
              </ion-item>
              <ion-button [disabled]="!validations_form.valid" type="submit">Salvar conta</ion-button>
            </form>
          </ng-template>
        </ng-template>
      </ion-content>
      </ng-template>
      </ion-modal>
      
      </ion-content>
