#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#code-container {
  height: 40%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px red solid;
}

#accounts-container {
  height: 60%;
  overflow-y: auto;
  border: 1px blue solid;
}
