#container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

#code-container {
  height: 40%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border: 1px red solid;
}

#accounts-container {
  height: 60%;
  overflow-y: auto;
  border: 1px blue solid;
}

.square-ratio {
  width: 100%;
  height: 100%;
  aspect-ratio: 1;
}

.fill-parent {
  width: 100%;
  height: 100%;
}

.small-text {
  font-size: 0.87em;
}
