ion-content {
  overflow: hidden;
}

#container {
  display: flex;
  height: 100%;
  width: 100%;
}

#container.landscape {
  flex-direction: row;
}

#container.portrait {
  flex-direction: column;
}

#code-container.landscape {
  width: 40%;
  height: 100%;
}

#code-container.portrait {
  width: 100%;
  height: 40%;
}

#accounts-container {
  overflow-y: auto;
}

#accounts-container.landscape {
  width: 60%;
  height: 100%;
}

#accounts-container.portrait {
  width: 100%;
  height: 60%;
}
